.h-1 {
    text-align: center;
    color: darkblue;
    background-color: blueviolet;
}

.p1 {
    background-color: aqua;
    color: red;
}

.p2 {
    background-color: burlywood;
    color: red;
}

.btn1 {
    font-size: 20px;
    border: none;
    color: darkcyan;
    background-color: rgb(51, 44, 44);
    font: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}